body{
    text-align : center;
    margin: 0 auto;
    font-size: 22px;
    background: url(design12.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    color: #123456;
    height: 600px;
    width: 680px;
    padding-top: 90px;
}
h1{
    font-size: 50px;
    text-shadow: 3px 4px lightslategray;
}
button{
    padding:10px;
    width: 200px;
    border: 2px solid slategray;
    border-radius: 20px;
    margin-top: 40px;
    margin-right: 20px;
    cursor: pointer;
    background: url(../design12.jfif);
    font-size: 20px;
}
button:hover{
    background-color: cornflowerblue;
    color:white;
}
button:active{
    transform: translateY(4px);
    background-color: darkslateblue;
    box-shadow: 0 5px #666
}
input{
    margin-bottom: 20px;
    width: 70%;
    height: 30px;
    border-radius: 15px;
    padding: 12px;
    font-size: 18px;
    font-weight: 40px;
    opacity: 0.4;
    
}