body{
    width:960px;
    padding: 50px;
    background: url(design3.jpg);
    font-size: 25px;
    font-weight: 100;
    color: #123456
}

header{
    text-align: center;
    text-shadow: 2px 1px white;
    font-size: 40px;
    color: lightslategray;
    /*background: url(design12.jfif);
    border-radius: 20px;
    width:1000px;*/
}
form{
    margin: 0 auto;
    box-sizing: border-box;
    margin-left: 60px;
    width:960px;
    padding: 90px 200px 50px 200px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 20px;
    min-width: 500px;
    min-height: 500px;
    box-shadow: 10px 10px 5px grey;
    background-color: rgba(0,0,0,0.2);
}
input{
    width: 100%;
    padding: 16px;
    margin-bottom: 8px;
    opacity: 0.6;
    font-size: 20px;
    border-radius: 20px;
}
p{
    margin-top: 70px;
}
    
}
.forgot{
    float:right;
}
button{
    margin-top: 80px;
    height: 50px;
    width: 200px;
    align-self: center;
    font-size: 19px;
    cursor:pointer;
    colorblack;
    /*background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    opacity: 0.6;*/
    background: url(design12.jfif);
    border-radius: 20px;
}
button:hover{
    background-color: cornflowerblue;
    color:white;
}
button:active{
    transform: translateY(4px);
    background-color: darkslateblue;
    box-shadow: 0 5px #666;
}
.foot{
    height:50px;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    color:#000000;
    background: url(design12.jfif);
    border-radius: 20px;
    padding-top:20px;
    padding-left: 30px;
   

}
a{
    color:white;
    text-decoration: none;
}



