body{
    text-align: center;
    width:960px;
    margin: 0 auto;
    font-size: 22px;
    background: url(design3.jpg);
    color: #123456;
}

h1{
    font-size: 60px;
    text-shadow: 3px 4px lightslategray;
    opacity: 0.8;
}

input{
    margin-bottom: 20px;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    padding: 12px;
    font-size: 18px;
    font-weight: 40px;
    opacity: 0.7;
    
}
button{
    padding:20px;
    width: 200px;
    border: 2px solid gray;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
    background: url(design12.jfif);
    font-size: 20px;
}
button:hover{
    background-color: cornflowerblue;
    color:white;
}
button:active{
    transform: translateY(4px);
    background-color: darkslateblue;
    box-shadow: 0 5px #666
}
header{
    margin-bottom: 50px;
}
form{
    border: 1px solid gray;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px grey;
    background-color: rgba(0,0,0,0.2);
}
footer{
    
    height:50px;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    color:#000000;
    background: url(design12.jfif);
    border-radius: 20px;
    padding-top:20px;
    padding-left: 30px;
}
a{
    color: white;
    text-decoration-line: none;
}
a:hover{
    color: teal;
}